

.page-header{
    text-align:center;
}

.panel-body{
    text-align: center;
}

body{
    background-image: url(../images/hangback.jpg);
}

.hmcontainer{
    background: blueviolet;
    width: 334px;
}

.inln{
    width:auto;
    float: left;
    border: 2px solid black;
}

.col-md-12{
    text-align: center;
}

#keyin{
    text-align: center;
}

#corrans{
    text-align: center;
}

#msg1 #msg2{
    float: left;
}

#messages{
    color: red;
    font-weight: bold;
}


ul{
    list-style: none;
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    padding: 0px;
}

li{
    list-style: none;
    float: left;
    margin-right: 5px;
    margin-left: 0px;
}

canvas{
    color:white;
    border: black dashed 2px;
    padding:15px;
  }

